body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: slateblue;
}

canvas {
  border: 30px solid whitesmoke;
  border-radius: 10px;
  /* Set the width and height to half the actual size so it doesn't look pixelated */
  width: 800px;
  height: 500px;
  background-color: white;
  margin-bottom: 30px;
}

button.shake {
  background-color: ghostwhite;
  color: gray;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .2s, color .2s;
  border: 1px solid gray;
}

button.shake:hover {
  background-color: gray;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

canvas.shake {
  animation: shake 0.5s linear 1;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}